*{
    box-sizing: border-box;
}

body{
    background: royalblue;
    color: white;
}

.react-card-flip{
    border: 2px solid white;
    height: 600px;
}

.react-card-flipper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front, .card-back{
    padding: 20px;   
    line-height: 1.3em;
    letter-spacing: 0.06em;
    text-align: justify;
    font-family: sans-serif;
}

.card-front p{
    font-size: 2em;
    font-weight: bold;
}

button{
    margin: 20px;
    padding: 12px 25px;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.6);
    background: skyblue;
    text-transform: uppercase;
    border-radius: 10px;
}